configargparse==0.10.0
enum34==1.1.2
sqlalchemy==1.0.12
pynab==0.6.8
requests==2.9.1
jsontableschema==0.5.1
unicodecsv==0.14.1
appdirs==1.4.0
-e git+https://github.com/csingley/ofxtools.git@4a3e496d7d2a3babdeabd4e114d98fc5f2862667#egg=ofxtools